/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);

    --item-visibility: hidden;

    --bg-color: #fff1f7;
    --decorated-color: #353430;
    --color-button-menu: #353430;
    --color-button-border-hover: rgb(53, 52, 48, .4);
    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --text-main-color: #353430;
    --shadow-color: #FF8DCB;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);

  --item-visibility: hidden;

  --bg-color: #fff1f7;
  --decorated-color: #353430;
  --color-button-menu: #353430;
  --color-button-border-hover: rgb(53, 52, 48, .4);
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --text-main-color: #353430;
  --shadow-color: #FF8DCB;
}
