/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);

  --general-font-size: 18px;
  --font-weight: 400;
  --font-title-weight: 700;
  --font-line-height: 23.4px;

  --item-visibility: visible;

  --bg-color: #000028;
  --accent-color: #ff0070;
  --subtitle-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #000028;
  --text-main-color: #f1b2ce;
}
